<h2>Skapa nytt projekt</h2>
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Namn:</label>
    <input
      formControlName="name"
      type="text"
      placeholder="Ange projektets namn"
    />
  </div>
  <div>
    <label>Beskrivning:</label>
    <textarea
      formControlName="description"
      placeholder="Ange en kort beskrivning"
    ></textarea>
  </div>
  <div>
    <label>Användare ID:</label>
    <input formControlName="userId" type="number" [disabled]="true" />
  </div>
  <div>
    <button type="submit" [disabled]="projectForm.invalid">Skapa</button>
    <button type="button" (click)="onCancel()">Avbryt</button>
  </div>
</form>
