.dashboard-section {
  margin: 20px;
  background-color: #ffffff; /* Vit bakgrund för hela innehållet */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.chart-wrapper {
  background: #fff;
  padding: 20px 0; 
  border-radius: 15px;
  display: flex;
  gap: 2rem; 
  justify-content: center; 
  text-align: center;
  border-radius: 16px;
}

.stats-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 250px;
}

  