<h2>Dashboard</h2>

<section class="dashboard-section">
  <h3>User</h3>
  <app-user-list (userSelected)="onUserSelected($event)"></app-user-list>
</section>

<section class="dashboard-section" *ngIf="selectedUser">
  <h3>Statistics for {{ selectedUser.name }}</h3>

  <div class="chart-wrapper">
    <div class="stats-card">
      <app-pie-chart [selectedUserId]="selectedUser.id"></app-pie-chart>
    </div>

    <div class="stats-card">
      <app-bar-chart [selectedUserId]="selectedUser.id"></app-bar-chart>
    </div>

    <div class="stats-card">
      <app-summary
        [totalTasks]="
          selectedUser.completed + selectedUser.opened + selectedUser.overdue
        "
        [completedTasks]="selectedUser.completed"
        [overdueTasks]="selectedUser.overdue"
      >
      </app-summary>
    </div>
  </div>
</section>

<!-- Section for Projects -->
<section class="dashboard-section" *ngIf="selectedUser">
  <h3>Projects</h3>
  <app-project-list
    [projects]="userProjects"
    [userId]="selectedUser.id"
    (projectSelected)="onProjectClick($event)"
  ></app-project-list>
</section>

<!-- Sektion för Tasks under det valda projektet -->
<section class="dashboard-section" *ngIf="selectedProjectTasks.length > 0">
  <h3>Tasks for selected Project</h3>
  <app-task-list [tasks]="selectedProjectTasks"></app-task-list>
</section>
