.main-header {
    background-color: #282c34;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: center;
  
    nav {
      display: flex;
      gap: 1.5rem;
  
      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .main-content {
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
    background-color: #e4dfdf; /* Din bakgrundsfärg */
  }
  