.main-content {
  transition: margin-left 0.3s ease; /* Smidig övergång vid öppning/stängning */
  padding: 20px;
  color: rgb(8, 8, 8);
  background-color: #f4f4f4; /* Bakgrundsfärg för huvudområdet */

  justify-content: center;

  &.sidebar-open {
    margin-left: 250px; /* Marginal när sidomenyn är öppen */
  }

  &.sidebar-closed {
    margin-left: 60px; /* Marginal när sidomenyn är stängd */
  }
}