.task-wrapper {
  background: #fff;
  padding: 20px 0;
  margin-top: 10px;
  border-radius: 15px;
}

.top-container {
  margin-bottom: 10px;
  padding: 0 0 0 25px;
  gap: 10px;
  display: flex;
}

.search-input {
  padding: 10px;
  width: 200px;
  font-size: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.search-input:focus {
  outline: none;
  border-color: #4caf50;
}

.btn-newtask {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-newtask:hover {
  background-color: #0056b3;
}

.no-tasks-message {
  text-align: center;
  margin: 1rem 0;
  font-style: italic;
  color: #777;
}

.task-container {
  display: flex;
  flex-wrap: wrap;
}

.task-columns {
  display: flex;
  justify-content: space-between; /* Fördela kolumnerna jämnt */
  align-items: flex-start; /* Justera kolumnerna till toppen */
  gap: 20px; /* Lägg till mellanrum mellan kolumnerna */
  width: 100%;
  box-sizing: border-box; /* Inkludera padding och border i bredden */
}

.task-column {
  flex: 1; /* Gör att kolumnerna delar lika mycket utrymme */
  display: flex;
  flex-direction: column; /* Placera innehållet i en kolumn */
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 200px; /* Minsta bredd för kolumner */
  max-width: 300px; /* Maximala bredd för kolumner */
  box-sizing: border-box; /* Inkludera padding och border i bredden */
}





.task-column.cdk-drop-list-dragging {
  background-color: #e0e0e0;
}

.task-card.cdk-drag-preview {
  border: 2px dashed #000;
  background-color: #f0f0f0;
}

.task-card.cdk-drag-placeholder {
  opacity: 0.5;
}

.priority.low {
  color: #8b8000; /* Mörkgul text */
}

.priority.medium {
  color: #004080; /* Mörkblå text */
}

.priority.high {
  color: #800040; /* Mörkrosa text */
}
.task-card h4 {
  text-align: center; 
  margin: 0;
  font-size: 1rem; 
  font-weight: bold; 
  line-height: 1.5; 
}


.task-card.low {
  background-color: #f5ecb8; /* Gul för låg prioritet */
}

.task-card.medium {
  background-color: #87ceeb;
}

.task-card.high {
  background-color: #ffc0cb; /* Rosa för hög prioritet */
}

.task-column h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-card p {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
  text-align: center;
  text-transform: capitalize; /* Gör första bokstaven stor */
}

.task-card {
  background-color: #ffffff;
  border-radius: 12px;
  width: 100%; /* Gör korten lika breda som kolumnen */
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 1px solid #ddd;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.newtask-dialog {
  max-width: 100%; 
  max-height: 100%
}


.task-actions {
  display: flex;
  justify-content: center;
  gap: 10px; /* Mellanrum mellan knapparna */
  margin-top: 10px;
}

.btn {
  display: flex;
  align-items: center; /* Centrera text och bild vertikalt */
  justify-content: center;
  gap: 8px; /* Mellanrum mellan bild och text */
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #007bff; /* Blå bakgrund vid hover */
  color: white; /* Vit text vid hover */
  transform: translateY(-2px); /* Lyft knappen något vid hover */
}

