.list-wrapper {
  margin: 20px;
  background-color: #ffffff; /* Vit bakgrund för hela innehållet */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.user-select {
  margin-bottom: 20px;
  background-color: #f4f4f4; /* Grå bakgrund endast för select-container */
  padding: 10px;
  border-radius: 6px;
}

.user-select select {
  background-color: #ffffff; /* Vit inuti select */
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}

.user-projects-tasks {
  background-color: #ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #ffffff; /* Vit bakgrund för tabellen */
}

table th {
  background-color: #66bb7b;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  color: #fff;
  border: 0px;
}

table td {
  padding: 10px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #f9f9f9; /* Ljus bakgrund för jämna rader */
}

table tr:hover {
  background-color: #f1f1f1; /* Hover-effekt */
}

.priority {
  display: flex;
  align-items: left;
  justify-content: center;
  border-radius: 12px;
  font-size: 0.7rem;
  font-weight: 500;
  width: 50px;
}


.priority.high {
  background-color: #ffc0cb;
}

.priority.normal {
  background-color: #87ceeb; /* Blå för normal prioritet */

}

.priority.low {
  background-color: #f5ecb8; /* Gul för låg prioritet */

}
