<!-- Lista över användare, projekt och uppgifter -->
<section class="list-section">
  <div class="list-wrapper">
    <div class="user-select">
      <label for="userDropdown">Select user:</label>
      <select id="userDropdown" [(ngModel)]="selectedUserModel">
        <option [ngValue]="null">All users</option>
        <option *ngFor="let user of users()" [ngValue]="user.id">
          {{ user.name }}
        </option>
      </select>
    </div>

    <section class="user-projects-tasks">
      <div class="all-users-table">
        <h3>All Users</h3>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>User Name</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users(); let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.role }}</td>
              <td>
                <button (click)="toggleUserData(user.id)" class="toggle-button">
                  {{ expandedUserId === user.id ? "Close" : "Open" }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <div class="projects-table" *ngIf="selectedUserProjects().length > 0">
        <h3>All projects</h3>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Project name</th>
              <th>Type</th>
              <th>User name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of selectedUserProjects(); let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ project.name }}</td>
              <td>
                <span
                  *ngIf="
                    project.userIds && project.userIds.length > 1;
                    else own
                  "
                  class="type-badge shared"
                  >Shared</span
                >
                <ng-template #own>
                  <span class="type-badge own">Own</span>
                </ng-template>
              </td>
              <td>
                <ng-container
                  *ngFor="let id of project.userIds; let last = last"
                >
                  {{ getUserName(id) }}<span *ngIf="!last">, </span>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tasks-table" *ngIf="selectedUserTasks().length > 0">
        <br />
        <h3>All tasks</h3>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Project name</th>
              <th>Priority</th>
              <th>Type</th>
              <th>User name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of selectedUserTasks(); let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ task.title }}</td>
              <td>{{ task.projectName }}</td>
              <td>
                <span [ngClass]="'priority ' + task.priority.toLowerCase()">
                  {{ task.priority }}
                </span>
              </td>
              <td>
                <span
                  *ngIf="
                    getProjectType(task.projectId) === 'Shared';
                    else ownTask
                  "
                  class="type-badge shared"
                  >Shared</span
                >
                <ng-template #ownTask>
                  <span class="type-badge own">Own</span>
                </ng-template>
              </td>
              <td>{{ task.userName }}</td>
              <td class="status-text">{{ task.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</section>
