<div class="project-wrapper">
  <div class="top-container">
    <input
      type="text"
      placeholder="Search project..."
      class="search-input"
      (input)="onSearch($any($event.target).value)"
    />
    <button class="btn-newproject" (click)="openProjectFormDialog()">
      New Project
    </button>
  </div>

  <!-- Projektlista -->
  <div class="project-container">
    <div class="project-card" *ngFor="let project of filteredProjects()">
      <h4>{{ project.name }}</h4>
      <p class="description">
        {{
          project.description
            ? (project.description | slice : 0 : 5) + "..."
            : "No description"
        }}
      </p>

      <!-- Visa "Shared" om projektet har fler än en användare -->
      <p *ngIf="project.userIds.length > 1" class="shared-text">Shared</p>

      <!-- Visa "Own" om projektet har endast en användare -->
      <p *ngIf="project.userIds.length === 1" class="own-text">Own</p>

      <!-- Actions för varje projekt -->
      <div class="project-actions">
        <button class="btn btn-view" (click)="onProjectClick(project.id)">
          <img src="view-icon.png" alt="View" class="btn-icon" />
        </button>
        <button class="btn btn-edit" (click)="editProject(project)">
          <img src="edit-icon.png" alt="Edit" class="btn-icon" />
        </button>
        <button class="btn btn-delete" (click)="deleteProject(project.id)">
          <img src="delete-icon.png" alt="Delete" class="btn-icon" />
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="loader">
    <p>Loading projects...</p>
  </div>
</div>
